@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1748421497645') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 42px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou31:before {
  content: "\e72d";
}

.icon-jiantou32:before {
  content: "\e72e";
}

.icon-jiantou33:before {
  content: "\e72f";
}

.icon-jiantou34:before {
  content: "\e730";
}

.icon-mima:before {
  content: "\e621";
}

.icon-gouwu:before {
  content: "\e658";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-yonghu:before {
  content: "\e720";
}

.icon-doc-line:before {
  content: "\e64f";
}

.icon-sousuo:before {
  content: "\e60b";
}

.icon-guanbi1:before {
  content: "\e62b";
}

.icon-zuobian:before {
  content: "\e624";
}

